/* post input */
.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.post-container {
    background-color: #242526;
    min-width: 590px;
    max-width: 590px;
    min-height: 123px;
    max-height: fit-content;
    margin-top: 30px;
    margin-bottom: 20px;
}

.MuiOutlinedInput-root:focus {
    outline: none !important;
    border-color: #ccc !important;
    box-shadow: none !important;
}

.page-container {
    display: flex;
    margin-top: 50px
}

.contacts-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    background-color: lightgray;
}

.content-mid {
    flex: 2;
    background-color: #18191A;
    /* Remove height property or set it to auto */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.navbar-left {
    flex: 1;
    height: 100vh;
}

.grid-container {
    display: flex;
}

.divider {
    background-color: #3E4042;
}